{{define "hello"}}
    <html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ .Css }}">
        <meta charset="UTF-8">

        <title>{{ .LibTitle }}</title>
    </head>
    <body>
    <div class="form-signin">
        <h2 class="h3 mb-3 font-weight-normal">Library</h2>
        <table class="list-group table">
            {{ range .Books }}
                <tr>
                    <td style="width: 35%">{{ .Author }}</td>
                    <td style="width: 65%">{{ .Title }}</td>
                    <td style="width: 65%"><a href="{{ .Link }}"> Read </a></td>
                </tr>
            {{ end }}
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    </body>

    </html>
{{end}}